.dashboard {
  padding: 0px 50px;

  h3 {
    margin: 0px;
    padding: 15px 0px;
  }

  p {
    margin: 20px 0px;
  }

  .surveys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }

  .survey {
    padding: 25px;
    color: white;
    background: #684C46;
    font-weight: 300;
    // font-size: 13px;

    .title {
      font-weight: bold;
      font-size: 18px;
      text-transform: capitalize;
    }

    .body {
      padding: 15px 0px;
      font-size: 13px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .response {
        padding-right: 15px;

        .fa:first-child {
          padding-right: 7.5px;
        }
      }

      .date {
        font-size: 11px;
        background: #EABE8D;
        color: black;
        opacity: 0.9;
        padding: 2.5px 7.5px;
        border-radius: 2.5px;
      }
    }
  }
}
