@import "header";
@import "button";
@import "form";
@import "review";
@import "template"; // email template
@import "surveys";

.wrapper {
  font-family: Helvetica;
  margin: 40px;

  h1 {
    margin: 15px 0px;
  }
}

.content {
  padding: 15px 0px;
}
